*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/universal/
target/resolution-cache/
target/scala-2.11/
target/streams/
project/target/
project/project/
lib_managed/
bin/
.classpath
.project
src_managed/
project/boot/
project/plugins/project/
.settings
tmp/
src/main/scala/com/kent/test/

# Scala-IDE specific
.scala_dependencies
.worksheet

.cache-main
.cache-tests
